$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {	
  50% { 
    background: $white;
  } 
}

#app {
  height: 100%;
}

html,body {
  height: 100%;
  background-image: linear-gradient(141deg,#1f191a 0,#363636 71%,#46403f 100%);
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}


.loading-pulse {
  position: relative;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-white;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    position: absolute;
    top: 50%;
    display: block;
    width: ($base-line-height / 4);
    height: ($base-line-height / 1.5);
    background: $off-white;
    content: '';
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}